absl-py==2.1.0
addict==2.4.0
aiohttp==3.8.6
aiosignal==1.3.1
albumentations==1.3.1
antlr4-python3-runtime==4.9.3
anyio==3.7.1
astor==0.8.1
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.2.0
basicsr==1.4.2
brotlipy==0.7.0
cachetools==5.3.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1718025014955/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama==0.4.6
cryptography @ file:///C:/b/abs_8ecplyc3n2/croot/cryptography_1677533105000/work
cycler==0.11.0
DCN==1.0
decorator==5.1.1
dominate==2.9.1
einops==0.6.1
exceptiongroup==1.2.0
filelock==3.11.0
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
future==1.0.0
google-auth==2.29.0
google-auth-oauthlib==0.4.6
grpcio==1.62.1
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.13.4
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
imageio==2.27.0
importlib-metadata==6.3.0
joblib==1.2.0
jsonpatch==1.33
jsonpointer==2.4
kiwisolver==1.4.4
lightning-utilities==0.10.1
lmdb==1.4.1
lpips==0.1.4
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.5.3
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
mmengine==0.7.2
multidict==6.0.5
munch==4.0.0
networkx==2.6.3
numpy==1.21.6
oauthlib==3.2.2
omegaconf==2.0.0
opencv-contrib-python==4.7.0.72
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
packaging==23.0
paddlepaddle-gpu==2.5.2
pandas==1.3.5
Pillow==9.4.0
protobuf==3.20.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyDeprecate==0.3.1
pygame==2.5.2
Pygments==2.15.0
pyOpenSSL @ file:///C:/b/abs_552w85x1jz/croot/pyopenssl_1677607703691/work
pyparsing==3.0.9
PySocks @ file:///C:/ci/pysocks_1594394709107/work
PySocks3.9 @ file:///C:/Users/gran/PySocks3.9-2.0-py3-none-any.whl
python-dateutil==2.8.2
pytorch-fid==0.3.0
pytorch-lightning==1.0.8
pytz==2023.3.post1
PyWavelets==1.3.0
PyYAML==6.0
qudida==0.0.4
regex==2022.10.31
requests @ file:///C:/ci/requests_1657735288441/work
requests-oauthlib==2.0.0
rich==13.3.3
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
sconf==0.2.5
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
tb-nightly==2.12.0a20230113
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
termcolor==2.2.0
test-tube==0.7.5
threadpoolctl==3.1.0
tifffile==2021.11.2
timm==0.6.13
torch==1.13.1
torchaudio==0.13.1
torchmetrics==0.6.0
torchvision==0.14.1
tornado==6.2
tqdm==4.65.0
typing_extensions @ file:///C:/b/abs_89eui86zuq/croot/typing_extensions_1669923792806/work
urllib3 @ file:///C:/b/abs_9bcwxczrvm/croot/urllib3_1673575521331/work
visdom==0.2.4
websocket-client==1.6.1
Werkzeug==2.2.3
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
yapf==0.32.0
yarl==1.9.4
zipp==3.15.0
